# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

of_v0.12.0_vs_release/addons
of_v0.12.0_vs_release/docs
of_v0.12.0_vs_release/examples
of_v0.12.0_vs_release/libs
of_v0.12.0_vs_release/projectGenerator
of_v0.12.0_vs_release/scripts

of_v0.12.0_vs_release.zip
of_v0.12.0_vs_release/CHANGELOG.md
of_v0.12.0_vs_release/CODE_OF_CONDUCT.md
of_v0.12.0_vs_release/INSTALL_FROM_GITHUB.md
of_v0.12.0_vs_release/INSTALL.md
of_v0.12.0_vs_release/LICENSE.md
of_v0.12.0_vs_release/README.md
of_v0.12.0_vs_release/SECURITY.md
of_v0.12.0_vs_release/THANKS.md

.vs/
.vscode/